.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-pink-light, 0.4) ,rgba($color-pink-medium, 0.4)) , 
     url(../../assets/images/back16.jpg);
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    position: relative;
}