
.section-stories {
    margin-top: -15.5rem;
    padding: 15rem 0rem ; 
    background-image: linear-gradient(to right bottom, $color-grey-light-1 ,$color-pink-light-0);
   
    @include respond (tab-port) {
        padding:10rem 0;
        margin-top:-10.5rem;
    }
}

.section-portfolio {
    background-color: $color-grey-light-1;
    padding:10rem 0 20rem 0;
    margin-top: 2rem;

    @include respond (tab-port) {
        padding:5rem 0 15rem 0;
    }
}

.section-contact{

    padding:15rem 10rem ;
    background-image: linear-gradient(to right bottom, $color-pink-light-1, $color-pink-medium);
    @include respond (phone) {
        padding: 10rem 0 ;
    }
}

.contact {
    background-image:linear-gradient(105deg, rgba($color-white, .8) 0%,
    rgba($color-white, .8) 50%,
     transparent 50%) ,
      url(../../assets/images/back6.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .20);
    width: 100%;
    margin-top: -9rem;
    animation: moveInRight 1s ease-out;

    
    @include respond (tab-land) {
      
        background-image:linear-gradient(105deg, rgba($color-white, .8) 0%,
        rgba($color-white, .8) 63%,
         transparent 63%) ,
          url(../../assets/images/back6.jpg);
          background-size: cover;
    }

    @include respond (tab-port) {
        background-image:linear-gradient(to right, 
        rgba($color-white, .8) 0%,
        rgba($color-white, .8) 100%) ,
          url(../../assets/images/back6.jpg);
    }


    &__form {

        width: 50%;
        padding: 6rem;

        
        @include respond (tab-land) {
      
            width: 63%
            }
    
            
            @include respond (tab-port) {
          
                width: 100%;
               
            }
    }
}