body {
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.7;
    color : $color-pink-dark;
    padding: 3rem;
    
}

.heading-primary {
    color:$color-white;
    text-transform: uppercase;
    backface-visibility: hidden;

    &-main {
        display: block;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing:2rem;
        animation-name: moveInLeft;
        animation-duration: .7s;
        animation-timing-function: ease-out;
        margin-bottom: 2rem;
        /* animation-delay: 2s; */
        /* animation-iteration-count: 2; */
    }
    
    &-sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.3rem;
        animation: moveInRight .7s ease-out;
        margin-bottom: 6rem;
    }
}

.text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image:linear-gradient(to right bottom, $color-pink-light-1, $color-pink-medium);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;


    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2) ;
      
    }
}

.heading-third {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image:linear-gradient(to right bottom, $color-pink-light-1, $color-pink-medium);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;


    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2) ;
      
    }
}